# Pandas Series

In [2]:
import pandas as pd

A dictionary of time series data on the price of S&P 500 index going back to 1970.

In [3]:
sp500 = {1970: 90.31, 1971: 93.49, 1972: 103.30, 1973: 118.40, 1974: 96.11, 1975: 72.56, 1976: 96.86, 1977: 103.80, 1978: 90.25, 
         1979: 99.71, 1980: 110.90, 1981: 133.00, 1982: 117.30, 1983: 144.30, 1984: 166.40, 1985: 171.60, 1986: 208.20, 1987: 264.50,
        1988: 250.50, 1989: 285.40, 1990: 339.97, 1991: 325.49, 1992: 416.08, 1993: 435.23, 1994: 472.99, 1995: 465.25, 1996: 614.42,
        1997: 766.22, 1998: 963.36, 1999: 1248.77, 2000: 1425.59, 2001: 1335.63, 2002: 1140.21, 2003: 895.84, 2004: 1132.52, 2005: 1181.41,
        2006: 1278.73, 2007: 1424.16, 2008: 1378.76, 2009: 865.58, 2010: 1123.58, 2011: 1282.62, 2012: 1300.58, 2013: 1480.40, 2014: 1822.36,
        2015: 2028.18, 2016: 1918.60, 2017: 2275.12, 2018: 2789.80}

### Question 1

Create a pandas series called <b>price</b> with years as index and prices as values. Give that series a name, <b>sp500</b>.

In [32]:
price = pd.Series(sp500)
price.name = 'sp500'
price

1970      90.31
1971      93.49
1972     103.30
1973     118.40
1974      96.11
1975      72.56
1976      96.86
1977     103.80
1978      90.25
1979      99.71
1980     110.90
1981     133.00
1982     117.30
1983     144.30
1984     166.40
1985     171.60
1986     208.20
1987     264.50
1988     250.50
1989     285.40
1990     339.97
1991     325.49
1992     416.08
1993     435.23
1994     472.99
1995     465.25
1996     614.42
1997     766.22
1998     963.36
1999    1248.77
2000    1425.59
2001    1335.63
2002    1140.21
2003     895.84
2004    1132.52
2005    1181.41
2006    1278.73
2007    1424.16
2008    1378.76
2009     865.58
2010    1123.58
2011    1282.62
2012    1300.58
2013    1480.40
2014    1822.36
2015    2028.18
2016    1918.60
2017    2275.12
2018    2789.80
Name: sp500, dtype: float64

### Question 2

Return the index as an Index object and the values as ndarray.

In [33]:
Index = price.index
Index

Int64Index([1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
            1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
            1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
            2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
            2014, 2015, 2016, 2017, 2018],
           dtype='int64')

In [34]:
Values = price.values
Values

array([  90.31,   93.49,  103.3 ,  118.4 ,   96.11,   72.56,   96.86,
        103.8 ,   90.25,   99.71,  110.9 ,  133.  ,  117.3 ,  144.3 ,
        166.4 ,  171.6 ,  208.2 ,  264.5 ,  250.5 ,  285.4 ,  339.97,
        325.49,  416.08,  435.23,  472.99,  465.25,  614.42,  766.22,
        963.36, 1248.77, 1425.59, 1335.63, 1140.21,  895.84, 1132.52,
       1181.41, 1278.73, 1424.16, 1378.76,  865.58, 1123.58, 1282.62,
       1300.58, 1480.4 , 1822.36, 2028.18, 1918.6 , 2275.12, 2789.8 ])

### Question 3

Select the first 10 rows of the series <b>price</b> using the visualization index (hint: iloc).

In [10]:
price.iloc[:10]

1970     90.31
1971     93.49
1972    103.30
1973    118.40
1974     96.11
1975     72.56
1976     96.86
1977    103.80
1978     90.25
1979     99.71
dtype: float64

Select the first 10 rows of the series <b>price</b> using the method <b>head</b>.

In [11]:
price.head(10)

1970     90.31
1971     93.49
1972    103.30
1973    118.40
1974     96.11
1975     72.56
1976     96.86
1977    103.80
1978     90.25
1979     99.71
dtype: float64

Select the last 5 rows of the series <b>price</b> using the method <b>tail</b>.

In [16]:
price.tail(5)

2014    1822.36
2015    2028.18
2016    1918.60
2017    2275.12
2018    2789.80
dtype: float64

### Question 4

When would you use <b>iloc</b> vs. <b>loc</b> to slice a series? Use both to extract a new series from the original series for rows starting in the year 1980 and beyond.

<u>Answer</u>:<br />
**iloc** is used for indexing into a series using an integer index.<br />
**loc** is used for indexing into a series using an index label

In [18]:
sFrom1980 = price.iloc[10:]
sFrom1980

1980     110.90
1981     133.00
1982     117.30
1983     144.30
1984     166.40
1985     171.60
1986     208.20
1987     264.50
1988     250.50
1989     285.40
1990     339.97
1991     325.49
1992     416.08
1993     435.23
1994     472.99
1995     465.25
1996     614.42
1997     766.22
1998     963.36
1999    1248.77
2000    1425.59
2001    1335.63
2002    1140.21
2003     895.84
2004    1132.52
2005    1181.41
2006    1278.73
2007    1424.16
2008    1378.76
2009     865.58
2010    1123.58
2011    1282.62
2012    1300.58
2013    1480.40
2014    1822.36
2015    2028.18
2016    1918.60
2017    2275.12
2018    2789.80
dtype: float64

In [20]:
sFrom1980 = price.loc[1980:]
sFrom1980

1980     110.90
1981     133.00
1982     117.30
1983     144.30
1984     166.40
1985     171.60
1986     208.20
1987     264.50
1988     250.50
1989     285.40
1990     339.97
1991     325.49
1992     416.08
1993     435.23
1994     472.99
1995     465.25
1996     614.42
1997     766.22
1998     963.36
1999    1248.77
2000    1425.59
2001    1335.63
2002    1140.21
2003     895.84
2004    1132.52
2005    1181.41
2006    1278.73
2007    1424.16
2008    1378.76
2009     865.58
2010    1123.58
2011    1282.62
2012    1300.58
2013    1480.40
2014    1822.36
2015    2028.18
2016    1918.60
2017    2275.12
2018    2789.80
dtype: float64

<i>Dividends are a piece of the profits businesses that are a part of the S&P 500 index return to their shareholders. The dictionary data below is dividend yield by year for the S&P 500 index. This is percent data so ideally should be converted to the proportion form by dividing the series by 100. For example, the first entry is 3.49%. Convert that to 0.0349. So create a new series called <b>yld</b>, name it <b>sp500yield</b>, divide it by 100 and answer the questions below.</i>

In [86]:
sp500div = {1970: 3.49, 1971: 3.1, 1972: 2.68, 1973: 3.57, 1974: 5.37, 1975: 4.15, 1976: 3.87, 1977: 4.98, 1978: 5.28, 
         1979: 5.24, 1980: 4.61, 1981: 5.36, 1982: 4.93, 1983: 4.31, 1984: 4.58, 1985: 3.81, 1986: 3.33, 1987: 3.66,
        1988: 3.53, 1989: 3.17, 1990: 3.68, 1991: 3.14, 1992: 2.84, 1993: 2.7, 1994: 2.89, 1995: 2.24, 1996: 2,
        1997: 1.61, 1998: 1.36, 1999: 1.17, 2000: 1.22, 2001: 1.37, 2002: 1.79, 2003: 1.61, 2004: 1.62, 2005: 1.76,
        2006: 1.76, 2007: 1.87, 2008: 3.23, 2009: 2.02, 2010: 1.83, 2011: 2.13, 2012: 2.2, 2013: 1.94, 2014: 1.92,
        2015: 2.11, 2016: 2.03, 2017: 1.84, 2018: 2.09}

In [87]:
yld = pd.Series(sp500div) / 100
yld.name = 'sp500yield'
yld

1970    0.0349
1971    0.0310
1972    0.0268
1973    0.0357
1974    0.0537
1975    0.0415
1976    0.0387
1977    0.0498
1978    0.0528
1979    0.0524
1980    0.0461
1981    0.0536
1982    0.0493
1983    0.0431
1984    0.0458
1985    0.0381
1986    0.0333
1987    0.0366
1988    0.0353
1989    0.0317
1990    0.0368
1991    0.0314
1992    0.0284
1993    0.0270
1994    0.0289
1995    0.0224
1996    0.0200
1997    0.0161
1998    0.0136
1999    0.0117
2000    0.0122
2001    0.0137
2002    0.0179
2003    0.0161
2004    0.0162
2005    0.0176
2006    0.0176
2007    0.0187
2008    0.0323
2009    0.0202
2010    0.0183
2011    0.0213
2012    0.0220
2013    0.0194
2014    0.0192
2015    0.0211
2016    0.0203
2017    0.0184
2018    0.0209
Name: sp500yield, dtype: float64

### Question 5

In one line of code, extract the five highest dividend yielding years from the <b>yld</b> series sorted by index. Extract both years and values.

In [88]:
yld.sort_values().tail(5).sort_index()

1974    0.0537
1977    0.0498
1978    0.0528
1979    0.0524
1981    0.0536
Name: sp500yield, dtype: float64

Extract the five lowest price years from the <b>price</b> series. Extract both years and values.

In [89]:
price.sort_values().head(5)

1975    72.56
1978    90.25
1970    90.31
1971    93.49
1974    96.11
Name: sp500, dtype: float64

Find the index of the row with maximum and minimum values in <b>yld</b> series.

In [90]:
yld.idxmax()

1974

In [37]:
yld.idxmin()

1999

In one line of code, use the index values from the two queries above, extract the respective values from the <b>price</b> series. Use <b>loc</b> to do that.

In [91]:
price.loc[[yld.idxmax(), yld.idxmin()]]

1974      96.11
1999    1248.77
Name: sp500, dtype: float64

### Question 6

Extract a new series from the original <b>yld</b> series where dividend yield is more than 4%.

In [92]:
yld[yld.values > 0.04]

1974    0.0537
1975    0.0415
1977    0.0498
1978    0.0528
1979    0.0524
1980    0.0461
1981    0.0536
1982    0.0493
1983    0.0431
1984    0.0458
Name: sp500yield, dtype: float64

Extract a new series from the original <b>yld</b> series where dividend yield is between 4% and 5%.

In [93]:
yld[(yld >= 0.04) & (yld <= 0.05)]

1975    0.0415
1977    0.0498
1980    0.0461
1982    0.0493
1983    0.0431
1984    0.0458
Name: sp500yield, dtype: float64

In one line of code, create a new series that ranks <b>yld</b> from the highest to the lowest dividend yield rows, showing only the top five records. Show both index and values of the new series. Hint: methods such as rank() and sort_values() can help. You might also have to play around with the parameters of the rank() method like ascending etc.

In [94]:
yld.sort_values(ascending=False).head(5)

1974    0.0537
1981    0.0536
1978    0.0528
1979    0.0524
1977    0.0498
Name: sp500yield, dtype: float64

In one line of code, create a new series that ranks <b>yld</b> from the highest to the lowest dividend yield rows, showing only the bottom five records. Is this series the same as the one that you just extracted?

In [95]:
yld.sort_values(ascending=False).tail(5)

2003    0.0161
2001    0.0137
1998    0.0136
2000    0.0122
1999    0.0117
Name: sp500yield, dtype: float64

<i>Price/earnings ratio is one of the fundamental valuation metric we can use to determine whether what we are buying is a good investment or not. It signifies the price per share the market is quoting for each dollar of earnings of a business or a collection of businesses (like what we have in the S&P 500 index). The dictionary data below is price to earnings data by year for the S&P 500 index. Use that to create a new series called <b>pe</b>, name it <b>sp500pe</b> and answer the questions below.</i>

In [97]:
sp500pe = {1970: 15.76, 1971: 18.12, 1972: 18.01, 1973: 18.09, 1974: 11.68, 1975: 8.3, 1976: 11.82, 1977: 10.41, 1978: 8.28, 
         1979: 7.88, 1980: 7.39, 1981: 9.02, 1982: 7.73, 1983: 11.48, 1984: 11.52, 1985: 10.36, 1986: 14.28, 1987: 18.01,
        1988: 14.02, 1989: 11.82, 1990: 15.13, 1991: 15.35, 1992: 25.93, 1993: 22.50, 1994: 21.34, 1995: 14.89, 1996: 18.08,
        1997: 19.53, 1998: 24.29, 1999: 32.92, 2000: 29.04, 2001: 27.55, 2002: 46.17, 2003: 31.43, 2004: 22.73, 2005: 19.99,
        2006: 18.07, 2007: 17.36, 2008: 21.46, 2009: 70.91, 2010: 20.7, 2011: 16.3, 2012: 14.87, 2013: 17.03, 2014: 18.15,
        2015: 20.02, 2016: 22.18, 2017: 23.59, 2018: 24.97}

In [99]:
pe = pd.Series(sp500pe)
pe.name = 'sp500pe'
pe

1970    15.76
1971    18.12
1972    18.01
1973    18.09
1974    11.68
1975     8.30
1976    11.82
1977    10.41
1978     8.28
1979     7.88
1980     7.39
1981     9.02
1982     7.73
1983    11.48
1984    11.52
1985    10.36
1986    14.28
1987    18.01
1988    14.02
1989    11.82
1990    15.13
1991    15.35
1992    25.93
1993    22.50
1994    21.34
1995    14.89
1996    18.08
1997    19.53
1998    24.29
1999    32.92
2000    29.04
2001    27.55
2002    46.17
2003    31.43
2004    22.73
2005    19.99
2006    18.07
2007    17.36
2008    21.46
2009    70.91
2010    20.70
2011    16.30
2012    14.87
2013    17.03
2014    18.15
2015    20.02
2016    22.18
2017    23.59
2018    24.97
Name: sp500pe, dtype: float64

### Question 7

In one line of code, extract the <b>five highest pe years</b> with the index sorted in ascending order.

In [101]:
pe.sort_values(ascending=False).head(5).sort_index()

1999    32.92
2000    29.04
2002    46.17
2003    31.43
2009    70.91
Name: sp500pe, dtype: float64

In one line of code, find the dividend yields for the <b>five highest pe years</b>. Use the <b>yld</b> series from before along with the <b>pe</b> series above.

In [104]:
yld[pe.sort_values(ascending=False).head(5).sort_index().index]

1999    0.0117
2000    0.0122
2002    0.0179
2003    0.0161
2009    0.0202
Name: sp500yield, dtype: float64

<i>EPS/price is the earnings yield and is the inverse of price/earnings. Create a new series called <b>ep</b> by manipulating the <b>pe</b> series (divide by 1) and answer the following questions.</i>

In [107]:
ep = 1 / pe
ep

1970    0.063452
1971    0.055188
1972    0.055525
1973    0.055279
1974    0.085616
1975    0.120482
1976    0.084602
1977    0.096061
1978    0.120773
1979    0.126904
1980    0.135318
1981    0.110865
1982    0.129366
1983    0.087108
1984    0.086806
1985    0.096525
1986    0.070028
1987    0.055525
1988    0.071327
1989    0.084602
1990    0.066094
1991    0.065147
1992    0.038565
1993    0.044444
1994    0.046860
1995    0.067159
1996    0.055310
1997    0.051203
1998    0.041169
1999    0.030377
2000    0.034435
2001    0.036298
2002    0.021659
2003    0.031817
2004    0.043995
2005    0.050025
2006    0.055340
2007    0.057604
2008    0.046598
2009    0.014102
2010    0.048309
2011    0.061350
2012    0.067249
2013    0.058720
2014    0.055096
2015    0.049950
2016    0.045086
2017    0.042391
2018    0.040048
Name: sp500pe, dtype: float64

### Question 8

What's the average earnings yield, the standard deviation of the yield and the highest and the lowest yield?

In [109]:
ep.mean()

0.06444392718932226

In [111]:
ep.std()

0.02884232590882475

In [112]:
ep.max()

0.13531799729364005

In [113]:
ep.min()

0.01410238330277817

In one line of code, extract all the years along with values where the earnings yield exceeded the average earnings yield.

In [115]:
ep[ep > ep.mean()]

1974    0.085616
1975    0.120482
1976    0.084602
1977    0.096061
1978    0.120773
1979    0.126904
1980    0.135318
1981    0.110865
1982    0.129366
1983    0.087108
1984    0.086806
1985    0.096525
1986    0.070028
1988    0.071327
1989    0.084602
1990    0.066094
1991    0.065147
1995    0.067159
2012    0.067249
Name: sp500pe, dtype: float64

<i>Treasury bonds are assumed to be the safest of all investments in the world. The dictionary data below is percent yield by year for the ten-year Treasury bond. Take for example the first entry for the year 1970 with a yield of 7.79%. If you were to invest 100 dollars in this bond, you will technically lock your money for ten years but every year, you will receive 7.79 dollars in interest for ten years and when the term is over, you will get your initial principal of 100 dollars back. Create a new series called <b>bond_yld</b>, name it <b>tenyrbond</b>, convert to the proportion form and answer the questions below.</i>

In [116]:
tenyr = {1970: 7.79, 1971: 6.24, 1972: 5.95, 1973: 6.46, 1974: 6.99, 1975: 7.5, 1976: 7.74, 1977: 7.21, 1978: 7.96, 
         1979: 9.1, 1980: 10.8, 1981: 12.57, 1982: 14.59, 1983: 10.46, 1984: 11.67, 1985: 11.38, 1986: 9.19, 1987: 7.08,
        1988: 8.67, 1989: 9.09, 1990: 8.21, 1991: 8.09, 1992: 7.03, 1993: 6.6, 1994: 5.75, 1995: 7.78, 1996: 5.65,
        1997: 6.58, 1998: 5.54, 1999: 4.72, 2000: 6.66, 2001: 5.16, 2002: 5.04, 2003: 4.05, 2004: 4.15, 2005: 4.22,
        2006: 4.42, 2007: 4.76, 2008: 3.74, 2009: 2.52, 2010: 3.73, 2011: 3.39, 2012: 1.97, 2013: 1.91, 2014: 2.86,
        2015: 1.88, 2016: 2.09, 2017: 2.43, 2018: 2.58}

In [117]:
bond_yld=pd.Series(tenyr)
bond_yld.name='tenyrbond'
bond_yld

1970     7.79
1971     6.24
1972     5.95
1973     6.46
1974     6.99
1975     7.50
1976     7.74
1977     7.21
1978     7.96
1979     9.10
1980    10.80
1981    12.57
1982    14.59
1983    10.46
1984    11.67
1985    11.38
1986     9.19
1987     7.08
1988     8.67
1989     9.09
1990     8.21
1991     8.09
1992     7.03
1993     6.60
1994     5.75
1995     7.78
1996     5.65
1997     6.58
1998     5.54
1999     4.72
2000     6.66
2001     5.16
2002     5.04
2003     4.05
2004     4.15
2005     4.22
2006     4.42
2007     4.76
2008     3.74
2009     2.52
2010     3.73
2011     3.39
2012     1.97
2013     1.91
2014     2.86
2015     1.88
2016     2.09
2017     2.43
2018     2.58
Name: tenyrbond, dtype: float64

### Question 9

What is the mean and the standard deviation of <b>bond_yld</b>?

In [118]:
bond_yld.std()

2.987786035036054

In [125]:
bond_yld.mean()

6.366326530612247

Historically, inflation clocks in at around 3%. Extract all the years where the <b>bond_yld</b> is below the inflation rate.

In [127]:
bond_yld[bond_yld < 3]

2009    2.52
2012    1.97
2013    1.91
2014    2.86
2015    1.88
2016    2.09
2017    2.43
2018    2.58
Name: tenyrbond, dtype: float64

In one line of code, use the years where <b>bond_yld</b> was below the rate of inflation and extract earnings yield (<b>ep</b>) for the S&P 500 index.

In [128]:
ep[bond_yld < 3]

2009    0.014102
2012    0.067249
2013    0.058720
2014    0.055096
2015    0.049950
2016    0.045086
2017    0.042391
2018    0.040048
Name: sp500pe, dtype: float64

### Question 10

- What caused the 10-year Treasury bond yield to drop below the historical inflation rate?
- If you had to choose between investing in the 10-year Treasury bond or in the stock market through the S&P 500 index, where would you invest? And why?

When investors start thinking the stock market is too risky, they sell their stocks and buy bonds. The increased demand pushes the price of bonds higher. The higher the price of bonds, the lower the yield is relative to the price.  Thus the bond yield dropped below the historical inflation rate.

Based on the last 10 years, the bond yield was lower than the S&P 500 earning yield. thus it'd make more sense to invest in the stock market via the S&P 500 index.